@use "base";
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Barlow Condensed';
}

.App {
  height: 100%;
}

.title {
  font-size: 1.75rem;
  letter-spacing: 0.3rem;
  font-weight: 400;
  text-transform: uppercase;

  span {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 1rem;
  }
}

.details {
  font-family: "Barlow";
  font-size: 1.125rem;
  line-height: 2rem;
  color: base.$gray-color;
}

@media screen and (max-width: 48em) {
  .title {
    font-size: 1.25rem;
    letter-spacing: 0.21rem;
    line-height: 1.5rem;
  }

  .details {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 30em) {
  .title {
    font-size: 1rem;
    letter-spacing: 0.17rem;
    line-height: 1.2rem;
  }

  .details {
    font-size: 0.94rem;
    line-height: 1.6rem;
    margin: 0 2rem;
  }
}
