@use "base";

.destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  color: white;

  &__info {
    display: flex;
    padding-top: 12%;
    padding-bottom: 5rem;
    margin: 0 10rem;
  }

  &__header {
    margin-bottom: 5rem;
  }

  &__description {
    margin-left: 10rem;

    h1 {
      font-family: "Bellefair";
      font-weight: 400;
      font-size: 6.25rem;
      text-transform: uppercase;
      margin: 2rem 0;
    }

    p {
      position: relative;
      max-width: 27.8rem;
    }

    p::after {
      position: absolute;
      display: block;
      content: "";
      margin-top: 2rem;
      width: 100%;
      height: 1px;
      background-color: #383b4c;
    }

    .distance-travel {
      margin-top: 3.5rem;
      display: flex;

      div {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        font-size: 0.875rem;
        line-height: 1.06rem;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        color: base.$gray-color;
      }

      .data {
        font-family: "Bellefair";
        font-size: 1.75rem;
        line-height: 2rem;
        text-transform: uppercase;
        color: white;
        padding-top: 1rem;
      }
    }
  }
}

.pl-navbar__list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
  margin-top: 5rem;

  button {
    position: relative;
    color: white;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.17rem;
    text-transform: uppercase;
    color: base.$gray-color;
  }

  button::after {
    position: absolute;
    content: "";
    display: block;
    width: 0%;
    height: 0.2rem;
    bottom: -0.7rem;
    background-color: gray;
    transition: all 300ms ease-in-out;
  }

  button:hover::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    bottom: -0.7rem;
    background-color: gray;
  }

  .active {
    position: relative;
    width: fit-content;
  }

  .active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: white;
    transition: all 300ms ease-in-out;
  }
}

@media screen and (max-width: 48em) {
  .destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
    text-align: center;
    
    &__info {
      flex-direction: column;
      align-items: center !important;
      padding-top: 10rem;
      margin: 0;
      width: 100%;
    }

    &__img {
      width: 100%;

      img {
        width: 18.75rem;
        height: 18.75rem;
      }
    }

    &__description {
      margin: 0;

      h1 {
        font-size: 5rem;
        line-height: 5.75rem;
      }
    }

    .title {
      width: fit-content;
      align-self: flex-start !important;
      margin-left: 2rem;
    }

    .distance-travel {
      gap: 3rem;
      justify-content: center;
      align-items: center;

      div {
        margin: 0;
      }
    }
  }

  .pl-navbar {
    width: fit-content;
    margin: 0 auto;

    &__list {
      width: fit-content;
    }
  }
}

@media screen and (max-width: 30em) {
  .destination {
    background-image: url("../assets/destination/background-destination-mobile.jpg");

    &__description {
      h1 {
        font-size: 3.5rem;
        line-height: 4rem;
      }
    }

    &__img {
      .title {
        margin: 3rem auto;
        width: fit-content;
        align-self: center !important;
      }

      img {
        width: 10.6rem;
        height: 10.6rem;
      }
    }

    .distance-travel {
      flex-direction: column;
    }
  }

  .pl-navbar {
    &__list {
      li {
        button {
          font-size: 0.88rem;
          line-height: 1.1rem;
          letter-spacing: 0.15rem;
        }
      }
    }
  }
}
