.technology {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    min-height: 100vh;
    height: 100%;
    background-size: cover;
    color: white;

    &__info {
        display: flex;
        align-items: center;
        padding: 9rem 15rem 0 15rem;
    }
}